extends layout

block content 
  div(class="flex bg-neutral-900 h-screen")
    div(class="h-full border-r border-neutral-800 w-24")
    div(class="h-full border-r border-neutral-800 w-96 pt-8")
      p(class="w-full p-4 font-medium text-4xl text-white") Messages
      p(class="w-full p-4 font-medium text-neutral-600 font-normal uppercase antialiased") All messages
      div(class="w-full")
        ul(class="divide-y divide-neutral-800" role="list")
          each val in [1, 2, 3, 4, 5]
            li(class="text-white hover:bg-neutral-800 first:pt-0 last:pb-0") 
              a( href="#" class="flex justify-between items-center w-full p-4")
                p='Name - ' + val
                div(class="h-4 w-4 my-1 border-2 border-white rounded-full bg-green-400")
    div(class="grow h-full")
    div(class="h-full w-96 border-l border-neutral-800")
      
  script(src="/socket.io/socket.io.js")
  script(type="text/javascript").
    var socket = io();